
<div class="wrap">
  <div class="box">
    <p> Voici les ingrédients pour faire ton <%= @cocktail['name'] %> :</p>

      <ul <% @cocktail.doses.each do |dose| %>>
        <li class="border-show">   <%= dose.description %> :
          <%= dose.ingredient.name %>
          <%= link_to "Delete", cocktail_dose_path(@cocktail, dose),
          method: :delete %></li>
            <% end %>
      </ul>
      <div class="align-button">
        <div class="btn btn-success btn-add-dose"> <%= link_to "Ajouter une dose", new_cocktail_dose_path(@cocktail) %>
        </div>
        <div class="btn btn-danger btn-delete"> <%= link_to "Effacer la recette", destroy_path(@cocktail.id), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
      <p class="btn-menu"> <%= link_to "Retour au menu", cocktails_path %> </p>
  </div>
  <div class="box">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  </div>
</div>
